<div>
    <div class="div1">
        <div class="text" style="display: flex; flex-direction: row;">


            <div>
                <div class="taitồ">
                    <p class="glitch"><i>MEMOS</i></p>
                </div>
                <div class="discript">
                    <p> Lorem ipsum is a placeholder</p>
                    <p> Why are we still here? </p>
                    <p> Just to suffer. </p>
                    <p> We got what we want. </p>
                    <p> But not what we need. </p>
                </div>
            </div>

            <div class="buttonToPress">
                <button class="btn btn--stripe" routerLink="/sign-in"> SIGN IN </button>
                <button class="btn btn--stripe" routerLink="/promo"> BUY NOW </button>
            </div>

            <!-- <button class="btn btn--stripe" style="width: 500px;"> Buy now </button> -->

        </div>



    </div>

    <!-- <div class="div2">
            <div class="buttonPanel">

                <button class="btn btn--stripe" routerLink="/sign-in" style="width: 400px;"> SIGN IN </button>
                <br>
                <button class="btn btn--stripe" style="width: 400px;"> EXAMPLE </button>
                <br>
                <button class="btn btn--stripe" style="width: 400px;"> EXAMPLE </button>

            </div>
        </div> -->
</div>